/* Selected (true) style */
.selectedTrue {
  border-color: #a6b9b1c5;
}

/* Default (not selected) */
.selectedFalse {
  border-color: #a6b9b1c5;
}

.attrButtonStyle {
  color: #3e4958;
  text-align: center;
  font-family: "AnekBangla-Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  position: relative;

  border-radius: 1.875rem;
  border-style: solid;
  border-width: 0.03125rem;
  padding: 0.625rem 1rem 0.625rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  position: relative;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .distance {
    font-size: 0.9rem;
    padding: 0.5rem 0.875rem;
    height: 2.8rem;
  }
}

.toggleIcon {
  width: 35px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 900px) {
  .toggleIcon {
    width: 40px;
  }
}
