/* Styles for bookmark toggle icon */

.starIcon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 2.5rem;
  top: 5.25rem;
  cursor: pointer;
}

@media (max-width: 37.5rem) {
  .starIcon {
    width: 3.125rem;
    height: 3.125rem;
    right: 0.9rem;
    top: 6.5rem;
  }
}
