/* LogoutConfirmModal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding:20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 80%;
}

.modalTitle {
  margin-bottom: 8px; /* Added margin-bottom */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .confirmButton{
  margin-right: 20px;
}

.cancelButton{
  margin-left: 20px;
} */


.confirmButton {
  background-color: #00692f; /* Green color */
  color: white;
}

.confirmButton:hover {
  background-color: #003f1c; /* Green color */
  color: white;
}

.cancelButton {
  background-color: #a80b00; /* Light green color */
  color: white;
}

.cancelButton:hover {
  background-color: #970a00; /* Light green color */
  color: white;
}