/* rgba(118, 199, 183, 0.)
rgba(118, 199, 131, 1)
rgba(247, 247, 247, 1)
rgba(254, 246, 176, 1) */

.selectedTrue {
  background: rgba(169, 234, 195, 0.62);
  border-radius: 1.875rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.03125rem;
  padding: 0.625rem 1rem 0.625rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  position: relative;
  cursor: pointer;
}

.selectedFalse {
  background: #ffffff;
  border-radius: 1.875rem;
  border-style: solid;
  border-color: #3e4958;
  border-width: 0.03125rem;
  padding: 0.625rem 1rem 0.625rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  position: relative;
  cursor: pointer;
}
