.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.92);
  height: 46px;
  color: #3e4958;
  text-align: center;
  padding: 15px 26px;
  font: 500 16px/149.8% Noto Sans KR, -apple-system, Roboto,
    Helvetica, sans-serif;
  cursor: pointer;
}
